body{
    background-color: rgb(62, 196, 196);
}
img {
    Border-radius: 0px;
}
img:hover {
    transform: scaleX(-1);
  }

  .container {
    flex-direction: column-reverse;
  } 

  .instructions-container {
    display: flex;
    flex-direction: row;
    border: solid 3px black;
  }
  