body{
    background-color: rgb(62, 196, 196);
}
img {
    Border-radius: 0px;
}
img:hover {
    transform: scaleX(-1);
  }

  .container {
    flex-direction: column-reverse;
  } 

  .instructions-container {
    display: flex;
    flex-direction: row;
    border: solid 3px rgb(62, 196, 196);
  }
  div.sticky {
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: #cae8ca;
    border: 2px solid #4CAF50;
  } 